<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       default-init-method="destroy" default-destroy-method="afterPropertiesSet">

    <bean id="parent_triangle1" class="drawning.objects.Triangle" abstract="true">
        <property name="pointA" ref="pointA" />
    </bean>

    <bean id="parent_triangle2" class="drawning.objects.Triangle" abstract="true">
        <property name="pointA" ref="pointA" />
        <property name="pointB" ref="pointA" />
    </bean>

    <bean id="triangle" class="drawning.objects.Triangle">
        <property name="pointB" ref="pointB"/>
        <property name="pointC" ref="pointC"/>
    </bean>

    <bean id="triangle1" class="drawning.objects.Triangle" parent="parent_triangle1">
        <!--<property name="pointB" ref="pointB"/>-->
        <property name="pointC" ref="pointC"/>
    </bean>

    <bean id="triangle2" class="drawning.objects.Triangle" parent="parent_triangle2">
        <!--<property name="pointB" ref="pointB"/>-->
        <property name="pointC" ref="pointC"/>
    </bean>

    <!-- Defaults points of the Triangle -->
    <bean id="pointA" class="drawning.objects.Point">
        <property name="x" value="0" />
        <property name="y" value="0" />
    </bean>
    <bean id="pointB" class="drawning.objects.Point">
        <property name="x" value="20" />
        <property name="y" value="0" />
    </bean>
    <bean id="pointC" class="drawning.objects.Point">
        <property name="x" value="-20" />
        <property name="y" value="0" />
    </bean>

</beans>
